{% extends 'base.html' %}
{% set active_page = "kontak" %}

{% block head %}
<title>{{ page_title }}</title>
{% endblock %}

{% block body %}
<div class="bg-img-div">
    <div class="container py-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="text-center my-5 col-6 align-self-center">
                <h2>Kontak Kami</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Consequatur ab quidem delectus temporibus quos alias iusto voluptatem. 
                    Adipisci debitis sint eum blanditiis, eius error corporis repellat accusamus in, placeat facilis? 
                    Vero maiores at saepe iste officiis optio quibusdam alias incidunt magni dolor exercitationem quas, eligendi repudiandae aliquid rerum porro nemo animi eveniet sequi quam. 
                    Eveniet ullam esse nisi aliquam perferendis, maiores tenetur molestias corrupti libero veritatis laboriosam voluptatibus vero error impedit facilis ipsam labore accusantium architecto minima illum eos sapiente ipsum iusto? 
                    Enim, perferendis, aut aperiam error dicta, quia expedita quam ea cum totam corrupti aliquid odio minima minus consectetur!
                </p>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="row">
        <div class="col-7 px-5">
            <h2>Jangan ragu untuk kontak kami jika anda membutuhkan bantuan</h2>
            <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, harum. Quis sed, architecto pariatur praesentium officia aliquid nam, corrupti a aperiam ipsum vitae ipsa dicta quae debitis, vel ducimus placeat?</p>
        </div>
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3>Lokasi Kami</h3>
                    <p>Jln. Bla Bla</p>
                    <p><b>Buka</b> : 08.00 - 15.00</p>
                </div>
                <div class="col">
                    <h3>Kontak Kami</h3>
                    <p>info@email.com</p>
                    <p>01972306410820</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid row my-5">
    <div class="col-3"></div>
    <iframe class="col-6" src="https://docs.google.com/forms/d/e/1FAIpQLSfO6v6WlF1mOlv_8Sb5j7KfLI8z2VJHLebOt50K-cPxur3FcQ/viewform?embedded=true" width="640" height="439" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <div class="col-3"></div>
</div>

{% endblock %}