{% extends 'base.html' %}

{% block head %}
<title>{{ page_title }}</title>
{% endblock %}

{% block body %}
<div class="bg-img-div">
    <div class="container py-5">
        <div class="row">
            <div class="col"></div>
            <div class="col column py-5 text-center">
                <div class="col"></div>
                <div class="col-4">
                    <h2>Kontak Kami</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error blanditiis nulla corrupti hic provident dignissimos modi! Ipsum minima cum, excepturi dolorem quidem iure? Tenetur, repellendus cupiditate? Consequuntur sit quam ad!</p>
                </div>
                <div class="col"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-7">
            <h2>Jangan ragu untuk kontak kami jika anda membutuhkan bantuan</h2>
            <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, harum. Quis sed, architecto pariatur praesentium officia aliquid nam, corrupti a aperiam ipsum vitae ipsa dicta quae debitis, vel ducimus placeat?</p>
        </div>
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3>Lokasi Kami</h3>
                    <p>Jln. Bla Bla</p>
                    <p><b>Buka</b> : 08.00 - 15.00</p>
                </div>
                <div class="col">
                    <h3>Kontak Kami</h3>
                    <p>info@email.com</p>
                    <p>01972306410820</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}