{% extends 'base.html' %}

{% block head %}
<title>{{ page_title }}</title>
{% endblock %}

{% block body %}
<div class="bg-img-div">
    <div class="container py-5">
        <div class="row">
            <div class="text-center my-5">
                <h2>Kontak Kami</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error blanditiis nulla corrupti hic provident dignissimos modi! Ipsum minima cum, excepturi dolorem quidem iure? Tenetur, repellendus cupiditate? Consequuntur sit quam ad!</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid row text-center">
    <div class="col"></div>
    <form action="" class="row col justify-content-center">
        <label for="name" class="my-3">Nama</label>
        <input type="text" name="name" id="name" required placeholder="Nama">
        <label for="email" class="my-3">Email</label>
        <input type="email" name="email" id="email" required placeholder="Email">
        <label for="text" class="my-3">Text</label>
        <input type="text" name="text" id="text" required placeholder="Text">
        <input type="submit" value="Kontak!" class="my-4">
    </form>
    <div class="col"></div>
</div>
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-7 px-5">
            <h2>Jangan ragu untuk kontak kami jika anda membutuhkan bantuan</h2>
            <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, harum. Quis sed, architecto pariatur praesentium officia aliquid nam, corrupti a aperiam ipsum vitae ipsa dicta quae debitis, vel ducimus placeat?</p>
        </div>
        <div class="col">
            <div class="row text-center">
                <div class="col">
                    <h3>Lokasi Kami</h3>
                    <p>Jln. Bla Bla</p>
                    <p><b>Buka</b> : 08.00 - 15.00</p>
                </div>
                <div class="col">
                    <h3>Kontak Kami</h3>
                    <p>info@email.com</p>
                    <p>01972306410820</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}