{% extends 'base.html' %}

{% block head %}
<title>{{ page_title }}</title>
{% endblock %}

{% block body %}
    <div>
        <img id="pemerintahan-main-img" src="{{ url_for('static', filename = 'img/wp2754864.jpg') }}" alt="" srcset="">
    </div>
    <div class="container my-3">
        <h1 class="text-center my-3">STOK</h1>
        <div class="row">
            <div class="col"></div>
            <div class="col-6 rounded" id="stok"></div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container-fluid px-4 my-5">
        <div class="pt-3" id="perangkat-desa">
            <h2 class="text-center">Kepala Desa</h2>
            <div class="container my-5">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-5 card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename = 'img/wp2754864.jpg') }}" class="img-thumbnail rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}